* {
  font-family: 'raleway', sans-serif;
}
.header {
  display: none;
}
.nav {
  display: none;
}

@media (min-width: 1000px) {
  .Header {
    display: grid;
    grid-template-columns: 5em 25em 1fr;
    height: 100%;
    margin-top: 5em;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-left: 1em;
    border-right: 1px solid gray;
    height: 100%;
  
    a {
      text-decoration: none;
    }
    img {
      width: 3em;
      height: 3em;
    }
  }
  .nav {
    /* position: relative; */
    margin-left: .5em;
    a {
      margin: 0;
      padding: 0;
      display: block;
      text-decoration: none;
      font-weight: 800;
      font-size: 5em;
      color: #e5e5e5;
    }
  }
  .TZ {
    font-size: 3em;
    font-weight: 200;
    color: #e5e5e5;
  }
}
