.Home {
  /* section {
    width: 100v;
  } */
  /* width: auto;
  padding-right: .5em;
  height: 100vh;
  h3 {
    text-align: right;
    margin: 0;
    font-size: 8em;
    font-weight: 100;
  }
} */