.Project {
  text-align: center;
  border: 1px solid #e5e5e5;
  margin: .5em;
  h2 {
    font-size: 2.3em;
    margin: 0;
  }
  h3 {
    margin: .25em;
  }
}

.links {
  display: flex;
  justify-content: center;
  img {
    height: 1.6em;
    margin: .25em;
  }
}

.date {
  display: none;
}
.pic {
  display: flex;
  justify-content: center;
  img {
    width: 50vw;
    height: 100%;
  }
}

.ul {
  list-style: none;
  padding: 0;
}

.projecth2 {
  font-size: 3em;
  text-align: center;
}
