.About {
  border: 1px solid #e5e5e5;
  margin: .5em;
  height: 95vh;
  padding: 3%;
  section {
    margin-top: 3em;
    margin-bottom: auto;
  }
  h2 {
    text-align: center;
    margin: .5em;
    font-size: 3em;
    font-weight: 200;
  }
  h3 {
    font-size: 2em;
    font-weight: 800;
  }
  h4 {
    margin: 0;
    text-align: center;
    font-weight: 300;
  }
}
.bio p {
  text-align: justify;
}
.hobbies ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

@media only screen and (max-width: 999px) {
  h2 {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .About {
    margin-left: 25vw;
    width: 74vw;
    height: 85vh;
    h4 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 3em;
      margin-bottom: 0;
    }
    h2 {
      font-size: 4em;
    }
    p {
      font-size: 1.5em;
    }
    li {
      font-size: 1.5em;
    }
  }
}