.Home {
  display: flex;
  height: 95vh;
  margin: .5em;
  overflow: scroll;
  scroll-behavior: smooth;
  border: 1px solid #e5e5e5;
    h3 {
      text-align: center;
      margin-top: 50%;
      font-size: 3em;
      font-weight: 200;
    }
}

.desktop {
  @media (min-width: 1000px) {
    display: none;
    display: block;
    scroll-behavior: auto;
  }
}