.Home {
  display: flex;
  height: 95vh;
  margin: .5em;
  border: 1px solid #e5e5e5;
    h3 {
      text-align: center;
      margin-top: 50%;
      font-size: 3em;
      font-weight: 200;
    }
}

@media only screen and (min-width: 1000px) {
  .desktop {
    display: none;
  }
  .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27vw;
    width: 74vw;
    h3 {
      margin: 0;
    }
  }
}