@media only screen and (max-width: 999px) {
  .Header {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .Header {
    display: flex;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    margin: 0;
    border-right: 1px solid #e5e5e5;
    img {
      width: 2em;
    }
    a:visited {
      background-color: orange;
    }
  }
  .TZ {
    text-decoration: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    font-size: 4em;
    margin-right: .5em;
    padding: 3%;
    font-weight: 800;
    a {
      margin: 5%;
      text-decoration: none;
      color: gray;
    }
    a:visited {
      color: purple;
    }

  }
};
